PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/finrecon
# For MongoDB Atlas (Free Cloud DB):
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/finrecon?retryWrites=true&w=majority
ANTHROPIC_API_KEY=
